$tm-red: #FF6969;
$tm-red-2: #F75965;
$tm-dark: #201E20;
$tm-dark-up: #333033;
$tm-grey: #a0a0a0;

$tm-light-green: #9BFFB4;
$tm-purple: #4A3457;
$tm-blue: #3F3D56;
$tm-light: #FEF7FE;
$tm-mallow-1: #E8CFDE;
$tm-mallow-2: #EDE3F2;
$tm-mallow-3: #F0F0F0;
$tm-pink: #A02B5D;
